@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-new{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light{
    color: #727272;
}
.text-primary{
    color: #ff900e;
}
.bg-light{
    background-color: rgba(255, 144, 14,0.1);
}
main{
    max-width: 1440px;
    margin: 0 100px;
}
main> section{
    margin-top: 130px;
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-link{
 text-decoration: none;
 font-weight: 500;

}
.link{
    text-decoration: none;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
/* .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
} */
 .bg-primary{
    max-width: 1440px;
    margin: 0px 100px;
 }
.brand{
    font-weight: 700;
    font-size: 3rem;
}
/* banner Style */
.banner-content{
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: #ff900e;
    color: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
.banner-image{
    width: 100%;
    margin-bottom: 20px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-img-container img{
    width: 100%;
}
.teams{
    align-items: center;
    justify-content: space-between;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick{
    font-weight: 500;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.fact{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fact-description{
    max-width: 540px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.sponsor-companies img{
    filter: grayscale(100%);
}
.features{
    gap: 140px;

}
.features img{
    width: 150%;
}
#feature-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-card, .feature-title{
    font-size: 1.25;
    font-weight: 600;
    
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0  rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -80px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;

}
.footer-text{
    background-color: #FFF4E7;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    padding: 39px;
}
/* responsive Media */
@media screen and (max-width:576px) {
    .navbar, .nab-link,
    .teams, .fact, .features, .footer-text{
        flex-direction: column;
    }
    .team-img-container, .fact-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .fact, .sponsor-companies{
        justify-items: center;
    }
    .fact-container, .sponsor-companies{
        gap: 24px;
    }
    .team-img-container{
        margin: 0 auto;
        
    }
    .team-img-container img{
        width: 200px;
    }
    .banner-title{
        font-size: 2rem;
    }
    #exoerience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
@media screen and (min-width:576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
        margin: 50px auto;
    }
    .banner-title{
        font-size: 2rem;
    }
    .sponsor-companies, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-content: center;
    }
}
